<!DOCTYPE HTML>
<html>

<head>
    <title>Index of Django ORM demo</title>
</head>

<body>
    <h1>Index of Django ORM demo</h1>
    <table>
        <tr>
            <th>Path</th>
            <th>Link</th>
        </tr>
        <tr>
            <th colspan="2">
                <hr>
            </th>
        </tr>
        <tr>
            <td>Admin</a></td>
			 <td><a href="/admin/">Click to access admin page.</a></td>
        </tr>
        <tr>
            <td>Demo</a></td>
			 <td><a href="/demo/">Click to access demo page.</a></td>
        </tr>
        <tr>
            <th colspan="2">
                <hr>
            </th>
        </tr>
    </table>
</body>

</html>